### **Shubham** **Satish** **Ghogare**
###**TYIT**
####**Assignment**-**5**

In [77]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [78]:
#Load the Boston Housing Data Set from sklearn.datasets and print it
from sklearn.datasets import load_boston
boston = load_boston()
print(boston)

{'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]]), 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9]), 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'), 'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n", 'filename': 'boston_house_prices.csv', 'data_module': 'sklearn.datasets.data'}

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [54]:
#Transform the data set into a data frame 
#NOTE: boston.data = the data we want, 
#      boston.feature_names = the column names of the data
#      boston.target = Our target variable or the price of the houses
df_x = pd.DataFrame(boston.data, columns = boston.feature_names)
df_y = pd.DataFrame(boston.target)

In [55]:
#Get some statistics from our data set, count, mean standard deviation etc.
df_x.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [56]:
df_x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [57]:
df_y.count()
df_y.head(100)

       0
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2
..   ...
95  28.4
96  21.4
97  38.7
98  43.8
99  33.2

[100 rows x 1 columns]

In [58]:
#Split the data into 67% training and 33% testing data
#NOTE: We have to split the dependent variables (x) and the target or independent variable (y)
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.33, random_state=42)

# **Linear** **Regression**

In [62]:
#Initialize the linear regression model
reg = linear_model.LinearRegression()
#Split the data into 67% training and 33% testing data
#NOTE: We have to split the dependent variables (x) and the target or independent variable (y)
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.33, random_state=30)
#Train our model with the training data
reg.fit(x_train, y_train)

LinearRegression()

In [63]:
#Print the coefecients/weights for each feature/column of our model
print(reg.coef_)

[[-1.07206161e-01  4.10329834e-02 -1.39917086e-02  2.92936042e+00
  -1.35143920e+01  4.40625716e+00 -1.18906998e-02 -1.35725599e+00
   3.38508694e-01 -1.62918256e-02 -9.18994466e-01  7.96958144e-03
  -4.35193041e-01]]

In [64]:
#print our price predictions on our test data
y_pred = reg.predict(x_test)
print(y_pred)

[[17.47650707]
 [12.6062082 ]
 [19.68412635]
 [31.16328844]
 [16.14068335]
 [17.7627242 ]
 [20.58715262]
 [40.92035966]
 [14.07614716]
 [24.0458913 ]
 [20.31930378]
 [32.70409773]
 [21.05633739]
 [29.54331164]
 [13.21931879]
 [24.48209946]
 [14.22116462]
 [27.74564525]
 [15.35281979]
 [26.85463653]
 [20.72977359]
 [17.00960445]
 [30.28576874]
 [13.56142241]
 [15.80606196]
 [16.32959736]
 [18.36609241]
 [ 0.59823949]
 [13.03874786]
 [13.23737001]
 [17.03211178]
 [22.5792258 ]
 [32.725149  ]
 [28.90467244]
 [19.27092986]
 [22.63198271]
 [10.63976418]
 [21.98921525]
 [19.7523966 ]
 [18.95039135]
 [16.89635719]
 [20.26744281]
 [41.05191076]
 [23.97948101]
 [25.94000067]
 [21.19909322]
 [22.72546361]
 [17.93392357]
 [18.45465051]
 [14.71291202]
 [15.66225073]
 [17.97273709]
 [18.76536193]
 [24.93729436]
 [30.49395809]
 [23.36692534]
 [36.31390988]
 [25.21855301]
 [14.1986848 ]
 [35.77292468]
 [22.98070818]
 [20.18579254]
 [30.93022331]
 [20.86445792]
 [18.0378392 ]
 [11.51686804]
 [17.18804985]
 [24.37854023]
 [35.44475945]
 [32.5190256 ]
 [17.14520497]
 [25.09905514]
 [20.44122939]
 [26.92300057]
 [27.21222799]
 [22.75871663]
 [ 6.11663705]
 [22.17891919]
 [24.192192  ]
 [33.26825926]
 [17.26377406]
 [23.43815347]
 [28.27432909]
 [23.03904512]
 [25.48144317]
 [35.89224754]
 [36.88914604]
 [26.02032481]
 [24.42375864]
 [19.32512529]
 [22.38730749]
 [25.15067369]
 [18.15738574]
 [28.42734566]
 [ 9.18630334]
 [15.89319131]
 [ 4.01079021]
 [28.93037575]
 [19.08826816]
 [28.61350182]
 [23.84053124]
 [18.28723293]
 [21.55793228]
 [14.92789026]
 [14.64095903]
 [23.10280929]
 [31.83413103]
 [15.04477489]
 [25.54899357]
 [32.04583392]
 [24.23245264]
 [27.33268655]
 [19.74553642]
 [25.33205353]
 [15.03210391]
 [23.40191821]
 [19.95011896]
 [34.46779305]
 [18.38565866]
 [17.09986921]
 [18.0668027 ]
 [25.16449268]
 [22.83123908]
 [10.59969674]
 [13.13695797]
 [16.51480751]
 [31.21228821]
 [15.47387736]
 [19.55844162]
 [19.49406328]
 [39.6223711 ]
 [19.90834498]
 [ 9.72515096]
 [28.4612064 ]
 [ 9.42372752]
 [14.00372267]
 [19.35288267]
 [ 2.09378152]
 [20.89209687]
 [15.81533232]
 [15.93039002]
 [20.66924601]
 [20.00576486]
 [31.54096546]
 [ 9.38954821]
 [10.15378134]
 [28.32438042]
 [32.58319799]
 [35.25522824]
 [28.31855464]
 [33.05428669]
 [21.342346  ]
 [15.05071129]
 [19.3309891 ]
 [12.12072379]
 [19.68818963]
 [36.18451184]
 [ 8.52033036]
 [38.62618471]
 [17.11412003]
 [30.29689853]
 [28.02652673]
 [ 7.00875152]
 [31.08578807]
 [23.46735592]
 [21.10713958]
 [25.09776613]]

In [65]:
print(y_test)

        0
21   19.6
440  10.5
103  19.3
178  29.9
22   15.2
..    ...
417  10.4
369  50.0
501  22.4
59   19.6
314  23.8

[167 rows x 1 columns]

In [66]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test, y_pred))

24.8780065064106

# **KNN**

In [69]:
import pandas as pd
bos = pd.DataFrame(boston['data'])
bos.columns = boston['feature_names']
bos['Price'] = boston['target']
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [70]:
from sklearn.neighbors import KNeighborsRegressor
train_x = boston['data'][:500]
train_y = boston['target'][:500]

In [71]:
KNR = KNeighborsRegressor(20)
KNR.fit(train_x, train_y)

KNeighborsRegressor(n_neighbors=20)

In [72]:
import numpy as np

In [73]:
test = np.array(boston['data'][504])
test1 = test.reshape(1,-1)

In [74]:
print(bos.loc[504])

CRIM         0.10959
ZN           0.00000
INDUS       11.93000
CHAS         0.00000
NOX          0.57300
RM           6.79400
AGE         89.30000
DIS          2.38890
RAD          1.00000
TAX        273.00000
PTRATIO     21.00000
B          393.45000
LSTAT        6.48000
Price       22.00000
Name: 504, dtype: float64

In [75]:
predict=KNR.predict(test1)

In [76]:
predict

array([27.77])

# **random_forest**

In [79]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [80]:
bost_x = pd.DataFrame(boston["data"])
bost_y =boston["target"]

In [81]:
scaler = StandardScaler()

bost_x = scaler.fit_transform(bost_x)

In [82]:
X_train, X_test, y_train, y_test = train_test_split(bost_x, bost_y, train_size=0.7)

In [83]:
no_bootstrap_model = RandomForestRegressor(n_estimators=100, criterion='mse', bootstrap=False)
no_bootstrap_model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

RandomForestRegressor(bootstrap=False, criterion='mse')

In [84]:
RandomForestRegressor(bootstrap=False, criterion='mse')

RandomForestRegressor(bootstrap=False, criterion='mse')

In [85]:
bootstrap_model = RandomForestRegressor(n_estimators=100, criterion='mse', bootstrap=True)
bootstrap_model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

RandomForestRegressor(criterion='mse')

In [86]:
print("R^2 without bootstrapping:", no_bootstrap_model.score(X_test, y_test)) # performance
print("   R^2 with bootstrapping:", bootstrap_model.score(X_test, y_test))

R^2 without bootstrapping: 0.7592085086534964
   R^2 with bootstrapping: 0.847351425642749